@charset "UTF-8";

@media screen and (min-width: 768px) {
    html> body{
        background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    }

    main > section{
        width: 80vw;
        height: 280px;
    }

     main > section#login> div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        /* Minha solução:
        width: 30vw;
        height: 280px;
        background-position: center bottom;
        border-radius: 10px 0px 0px 10px; */
    }

    main > section#login> div#formulario{
        float: right; /* Quando coloca display "block" para as caixas, pode escolher o lado que fica*/
        width: 66%;
        /* Minha solução:
        position: relative;
        top: -280px;
        left: 290px;
        width: 55vw;
        height: 280px;*/
     }

     div.campo > input{
        width: calc(90% - 22px);
    }
}

@media screen and (min-width: 992px) {
    main > section{
        width: 950px;
        height: 350px;
    }

    main > section#login> div#formulario{
        float: left;
        width: 52%;
        /* Minha solução:
        position: relative;
        top: -330px;
        left: 0px;
        width: 500px;
        height: 280px; */
     }

     main > section#login> div#imagem{
        float: right;
        width: 45%;
        height: 100%;
        background-position: center center;
        
        /* Minha solução:
        position: relative;
        top: 0px;
        left: 500px;
        width: 450px;
        height: 350px; */
        
    }
    
    div.campo > input{
        width: calc(90% - 13px);
    }
    
    main h1{
        font-size: 2em;
        font-weight: bolder;
    }
    
    main p{
        text-align: left;
        font-size: 1em;
        margin: 10px 0px;
    }
}

